.message_wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogues {
    padding: 20px;
    border-right: 2px solid black;
}

.dialogues a {
    color: #847577;
}

.dialogues a:hover {
    color: #FE7555;
}
