.header {
    grid-area: header;
    background-color: #313131;
    position: relative;
    height: 50px;
}

.header img {
    position: absolute;
    width: 40px;
    padding-left: 10px;
    filter: invert(100%);
    top: 5px
}

.name {
    color: white;
    position: absolute;
    left: 60px;
    top: -8px
}

.auth_block {
    position: absolute;
    float: right;
    top: 12px;
    right:15px;
}

.login_logout_block {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

.login_button{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

.login_button:hover{
    color: #FE7555;

}

.logout_button{
    color: #a5a0a1;
    font-size: 9pt;
    padding-left: 3px;
    cursor: pointer;
}

.logout_button:hover{
    color: #FE7555;
}
