.user_item_wrapper {
    margin: 30px 0;
    height: 100px;

    display: grid;
    grid-template-columns: 100px 1fr;
}

.avatar {
    margin: 0 auto;
    width: 80px;
    border-radius: 40px;
}

.right_wrapper {
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 15px;
    width: 400px;
    position: relative;
    border: 1px solid grey;
}

.avatar img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.followed {
    width: 90px;
    margin: 0 auto;
}

.followed button {
    width: 90px;
    height: 20px;
}

.location {
    position: absolute;
    right: 10px;
    top: 5px;
}

.status {
    position: absolute;
    bottom: 25px;
}

.full_name a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
    font-weight: bold;
}

.full_name a:hover{
    color: #FE7555;
}

.avatar img:hover{
    box-sizing: border-box;
    border: 3px solid #FE7555;
}

.status {
    font-size: 11pt;
}
