.app-wrapper{
  display: grid;
    width: 1200px;
    margin: 0 auto;


    grid-template-areas:
"header header"
"nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header{
    grid-area: header;
    background-color: #CCFFCC;
    margin: auto 0;
}

.header img{
    width: 40px;
    padding-left: 10px;
}

.nav{
    grid-area: nav;
    background-color: #CCFFCC;

}

.content{
    grid-area: content;
    background-color: #CCFFFF;
}

.content img{
    width: 100%;
}